/* Global Styles */
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: "Poppins", Arial, sans-serif;
  }
  
/* Header Styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }

  header ul li a {
    margin-right: 3rem;
  }

  /* Heading Styles */
  h1 {
    font-size: 200%;
    padding: 2%;
  }
  
  h2 {
    margin-bottom: 20px 0;
    font-size: 200%;
    font-family: "Fraunces", Times, serif;
    font-style: italic;
    font-weight:lighter;
    color:#667867;
  }
  
  /* Navigation Styles */
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

  nav ul li {
    font-size: 120%;
    padding: 1%;
  }
  
  nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
    font-style: italic;
  }
  
/* Main Content Styles */
 
  main {
    display:flex;
    flex: 1 1 0;
    max-width: auto;
    margin:auto;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
  }

  .img {
    /* max-width:fit-content;
    height:500px; */
    max-width:auto;;
    height: 500px;
    overflow:hidden;
    padding:0%;
    margin:0%;
    }

/* Article Styles */

  article section p {
    margin: 0;
    font-size: 110%;
  }
  
  .container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: normal;
    align-content: normal;
  }

  .sidebar {
    width:30%;
    display:block;
    flex-grow:0;
    flex-shrink:1;
    flex-basis:auto;
    align-self:auto;
    order:1;
    text-align: right;
    padding-right: 2rem;
  }

  .content {
    width:70%;
    display:block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order:2;
    padding:2rem;
    border-left:2px solid black;
    height: 100%;
  }

  /* Form Styles */
  form {
    max-width: 400px;
  }
  
  label {
    display: block;
    margin: 10px 0;
  }
  
  .submit-container {
    text-align: left;
  }

  .submit-button {
    padding: 10px 20px;
    background-color: #667867;
    color: white;
    border: 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 30px;
    margin: 20px 0;
  }
  
/* Input Styles */
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }
  
/* Hover Styles */
  .text-input:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px #999;
  }
 
/* Footer Styles */
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }

  footer span {
    font-family: "Poppins", Arial, sans-serif;
    font-weight:bold;
    color:#667867;
  }
  
  footer span a {
    margin: 2rem;
  }
  
/* Media Query Styles */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }

    }

  